<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>

    <!-- Bootstrap Css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<!-- Custom Css -->
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header class="container my-3 my-md-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-6 text-start">
                <h1 class="m-0">ToDo App</h1>
            </div>
            <div class="col-6 text-end">
                <button data-bs-toggle="modal" data-bs-target="#newTaskModal" class="btn btn-success">+ New Task</button>
            </div>
        </div>
    </header>

    <main class="container">

        <h2>Pending Tasks</h2>

        <table class="table dark-color table-primary table-striped">
            <thead>
                <tr class="fw-bold">
                    <td>Status</td>
                    <td>Task Description</td>
                    <td>Remove</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="task : ${uncompletedTasks}">
                    <td>
                        <a th:href="@{/panel/task/changestatus/{id}(id=${task.id})}">
                        	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
							  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
							</svg>
						</a>
                    </td>
                    <td th:text="${task.description}">

                    </td>
                    <td>
                    	<a th:href="@{/panel/task/remove/{id}(id=${task.id})}" class="text-danger">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
							  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
							  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
							</svg>
                    	</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <hr>
        
        <div th:if="${!#lists.isEmpty(completedTasks)}">
            <h3>Completed Tasks</h3>
	        <table class="table table-success table-striped">
	            <thead>
	                <tr class="fw-bold">
	                    <td>Status</td>
	                    <td>Task Description</td>
	                    <td>Remove</td>
	                </tr>
	            </thead>
	            <tbody>
	                <tr th:each="task : ${completedTasks}">
	                    <td>
	                        <a th:href="@{/panel/task/changestatus/{id}(id=${task.id})}">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle text-success" viewBox="0 0 16 16">
								  <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
								  <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
								</svg>
							</a>
	                    </td>
	                    <td th:text="${task.description}">
	
	                    </td>
	                    <td>
	                    	<a th:href="@{/panel/task/remove/{id}(id=${task.id})}" class="text-danger">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
								  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
								  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
								</svg>
	                    	</a>
	                    </td>
	                </tr>
	            </tbody>
	        </table>
        </div>

    </main>
    
    
	<div class="modal fade" id="newTaskModal" tabindex="-1">
		<div class="modal-dialog">
		    <div class="modal-content">
				<div class="modal-header">
				    <h5 class="modal-title dark-color">Add task</h5>
				    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
				    <form action="/panel/task/create" method="POST" id="newTaskForm">
						  <div class="mb-3">
						    <label for="description" class="form-label">Task description</label>
						    <input name="taskDescription" type="text" class="form-control" id="description" aria-describedby="descriptionHelp" required>
						    <div id="descriptionHelp" class="form-text">Short description of the task to perform.</div>
						  </div>
					</form>
				</div>
				<div class="modal-footer">
				    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				    <button type="submit" form="newTaskForm" class="btn btn-success">Save</button>
				</div>
		    </div>
		</div>
	</div>
	
	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
</body>
</html>
